<section class="blue">
    <div class="content">
        <div class="title">
            <div class="h3-title">
                <h3 class="text-white">
                    Consultoría
                </h3>
            </div>
        </div>
        <div class="mxw800p text-white">
            Nuestra división de consultoría está compuesta por especialistas en TI con experiencia en diversos sectores
            ,
            capacitados en metodologías y estándares internacionales.
        </div>
        <div class="boxes">
            <div class="box" id="valores">
                <span class="fas fa-users-cog"></span>
                <h3 class="h3-hight">DESARROLLO DE SOFTWARE</h3>
                <p>Ya sea en nuevos proyectos, mantenimiento o actualización de sus sistemas, desarrollamos software en
                    distintas plataformas y lenguajes. Sistemas centralizados y distribuidos utilizando metodologías
                    como CMMI, PMI o desarrollos ágiles con SCRUM.
                </p>
            </div>
            <div class="box" id="valores">
                <span class="fas fa-tachometer-alt"></span>
                <h3 class="h3-hight">ASESORÍA EN PLANEACIÓN ESTRATÉGICA DE SISTEMAS</h3>
                <p>Le apoyamos en la elaboración e implantación de estándares de sistemas en todas sus áreas. Asesoría a
                    los niveles directivos para llevar a la empresa a contar con un área tecnológica de clase mundial.
                </p>
            </div>
            <div class="box" id="valores">
                <span class="fas fa-brain"></span>
                <h3 class="h3-hight">IMPLANTACIÓN DE SISTEMAS</h3>
                <p>Le ayudamos en la selección de soluciones haciendo un análisis exhaustivo de sus necesidades.
                    Implantamos sistemas ERP, GRP, SAP, Oracle entre otros, proporcionando la solución más eficaz para
                    su organización.</p>
            </div>
            <div class="box" id="valores">
                <span class="fas fa-users"></span>
                <h3 class="h3-hight">DISEÑO DE SOLUCIONES</h3>
                <p>Mediante un estudio de su organización y sus requerimientos, diseñamos la arquitectura de hardware y
                    software que cumplirán con sus necesidades tecnológicas.</p>
            </div>
        </div>
    </div>
</section>

<section class="blue">
    <div class="content">
        <div class="title">
            <div class="h3-title">
                <h3 class="text-white">
                    Fabrica de Software
                </h3>
            </div>
        </div>
        <div class="mxw800p text-white">
            Nuestro proceso de Ingeniería y Administración está enmarcado en el Modelo de Capacidad de Madurez CMMI y
            respaldado por el Project Management Institute PMI .
        </div>
        <div class="boxes">
            <div class="box" id="valores">
                <span class="fas fa-users-cog"></span>
                <h3 class="h3-hight">BENEFICIOS</h3>
                <p>Incremente su capacidad de desarrollo y enfoque sus esfuerzos en la planeación estratégica. Ésta
                    opción le permite reducir costos por factores como improductividad, capacitación, actualización
                    tecnológica e infraestructura del área de desarrollo.
                </p>
            </div>
            <div class="box" id="valores">
                <span class="fas fa-tachometer-alt"></span>
                <h3 class="h3-hight">SERVICIOS</h3>
                <p>Tenemos personal capacitado en las últimas metodologías y procesos estandarizados de desarrollo de
                    software. Los servicios de la fábrica son: Proyectos de Implantación de Sistemas, Análisis, Diseño,
                    Construcción, Pruebas Modulares e Integrales, Implantación y Estabilización.
                </p>
            </div>
            <div class="box" id="valores">
                <span class="fas fa-brain"></span>
                <h3 class="h3-hight">PLATAFORMAS MÁS SOLICITADAS</h3>
                <p>Mainframe. En ambientes de Bases de Datos IMS, DB2 y de Archivos Tradicionales, Bajo CICS e IMS - DC.
                    Ambientes de Sistemas Abiertos. Con Base de Datos Oracle, Informix, SQL, etc. Herramientas de
                    desarrollo de Oracle, C++, Java y HTML entre otros.</p>
            </div>
            <div class="box" id="valores">
                <span class="fas fa-users"></span>
                <h3 class="h3-hight">NUESTRAS INSTALACIONES</h3>
                <p>Contamos con estructura de comunicaciones de alta tecnología con altos niveles de seguridad lo que
                    garantiza la integridad de sus sistemas e información. Tenemos la infraestructura para conectarnos a
                    sus equipos en sus instalaciones o bien desarrollar todo en nuestras oficinas.</p>
            </div>
        </div>
    </div>
</section>

<section class="blue">
    <div class="content">
        <div class="title">
            <div class="h3-title">
                <h3 class="text-white">
                    Diseño WEB
                </h3>
            </div>
        </div>
        <div class="mxw800p text-white">
            Nuestros desarrolladores web estan trabajando siempre a la vanguardia con las ultimas tecnologías.
        </div>
        <div class="boxes">
            <div class="box" id="valores">
                <span class="fas fa-users-cog"></span>
                <h3 class="h3-hight">PAGINAS WEB RESPONSIVAS</h3>
                <p>Creamos páginas WEB compatibles con todos los exploradores y dispositivos móviles. Hacemos un solo diseño multidispositivo que permite ahorrar considerablemente en tiempo y costos. Su página tendrá la mejor experiencia para los usuarios sin importar si la visualizan desde un Smartphone, Tablet, Laptop o PC.
                </p>
            </div>
            <div class="box" id="valores">
                <span class="fas fa-tachometer-alt"></span>
                <h3 class="h3-hight">SITIOS AUTOADMINISTRABLES</h3>
                <p>Si lo prefiere el sitio puede ser administrado por usted mismo, incluyendo un módulo donde podrá modificar algunas secciones de su página WEB. Lo anterior le permite administrar su sitio de manera ágil sin depender de programadores especialistas.
                </p>
            </div>
            <div class="box" id="valores">
                <span class="fas fa-brain"></span>
                <h3 class="h3-hight">POSICIONAMIENTO WEB</h3>
                <p>Lo asesoramos para la adquisición de su dominio o nombre de su página y le brindamos los mejores hostings del mercado que puedan albergar su sitio WEB. Posicionamos su página en los primeros lugares de los buscadores más utilizados como Google y Bing.</p>
            </div>
            <div class="box" id="valores">
                <span class="fas fa-users"></span>
                <h3 class="h3-hight">DISEÑO DE IMAGEN CORPORATIVA</h3>
                <p>De la mano con el diseño de su sitio WEB, diseñamos los logotipos, nombre comercial, slogan y diseño de imagen corporativa creando el impacto visual necesario para darse a conocer y crear la confianza, seguridad y seriedad que sus clientes potenciales necesitan.</p>
            </div>
        </div>
    </div>
</section>