<div class="clientes">
	<div class="h3-title">
		<h3  class="text-white">
			Nuestros clientes
		</h3>
	</div>
	<div class="client-slider">
		<div class="client-slide-track">
			<div class="client-slide">
				<img src="/static/images/FCA.webp" alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/liconsa.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/nissan.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/citibank.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/banorte.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/volkswagen.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/ran.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/Imss.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/FCA.webp" alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/liconsa.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/nissan.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/citibank.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/banorte.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/volkswagen.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/ran.webp"  alt="" />
			</div>
			<div class="client-slide">
				<img src="/static/images/Imss.webp"  alt="" />
			</div>
		</div>
	</div>
</div>
