<section class="sec contact" id="contact">
  <div class="mxw800p text-center">
    <div class="h3-title">
      <h3 class="text-white">Tecnología en Sistemas de Cómputo S.A de C.V</h3>
    </div>
    <p class="text-formal">Con más de 26 años de <span class="text-active">experiencia</span> sabemos que cada cliente
      es único. El éxito de cada solución parte de la creación de una estrategia adaptada a las necesidades
      específicas y <span class="text-active">objetivos</span> de cada uno.</p>
  </div>
  <div class="content">
    <div class="boxes-contact">
      {% include 'snippets/index/contact/box-contact2.html' %}
      {% include 'snippets/index/contact/box-contact3.html' %}
    </div>
    <a href="{% url 'intranet:login' %}" class="btn-bea">INTRANET</a>
    <div class="mxw800p">
      <img src="/static/images/tsc_logo.webp" alt="Tecnología en Sistemas de Cómputo S.A de C.V" width="100px">
    </div>
  </div>
</section>
<div class="copyright">
  <p>Copyright © 2020 - Todos los derechos Reservados Aviso de Privacidad</p>
</div>