<section class="banner" id="home">
    {% include 'snippets/index/banner/card-home1.html' %}
    {% include 'snippets/index/banner/card-home2.html' %}
    {% include 'snippets/index/banner/card-home3.html' %}
    <canvas id="canvas1"></canvas>
    <a class="prev" style="color: white;" onclick="plusSlides(-2)">&#10094;</a>
    <a class="next" style="color: white;" onclick="plusSlides(0)">&#10095;</a>
    <div class="btn-slide">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</section>