{% extends 'base.html' %}
{% block content %}
<section class="section ban contacto">
    <canvas id="canvas1"></canvas>
    <div class="content text-center">
        <div class="mxw800p">
            <h1 class="text-white">¿Estas listo para <span>evolucionar</span> tu negocio?</h1>
        </div>
    </div>
</section>
<section class="black contacto">
    <div class="container">
        <h3 class="text-white f13">Envíanos un mensaje, Nos comunicaremos contigo a la brevedad.</h3>
    </div>
    {% include 'messages.html' %}
    {% include 'snippets/contact/send-email2.html' %}
    <h3 class="text-white text-center">Este puede ser el inicio de una relación <span class="text-active">profesional</span>.<span class="text-active">.</span>.</h3>
</section>
<script src="/static/js/particles.js"></script>
{% endblock %}