{% extends 'base.html' %}
{% block content %}
<section class="section ban">
    <canvas id="canvas1"></canvas>
    <div class="content">
        <div class="mxw800p text-white">
            <h1>DESARROLLAMOS TODO TIPO DE SISTEMAS Y <span>SOLUCIONES</span>
            </h1>
            <h3>EN DONDE LA COMPLEJIDAD ES UN <span>RETO</span>.</h3>
        </div>
    </div>
</section>
<!-- Servicios -->

{% include 'snippets/services/services.html' %}
<script src="/static/js/particles.js"></script>
{% endblock %}