<section class="sec modules">
    <div class="row">
        <div class="w800p">
            <div class="row">
                <ul>
                    <li class="module"><a href="">module 1</a></li>
                    <li class="module"><a href="">module 1</a></li>
                    <li class="module"><a href="">module 1</a></li>
                    <li class="module"><a href="">module 1</a></li>
                    <li class="module"><a href=""><span class="fas fa-plus add"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>