<section class="black">
    <div class="container text-white">
        
        <div class="boxes a-i-c">
            <div id="circle-orbit-container">
                <!-- Circles closest to the central point -->
                <div id="inner-orbit">
                    <div class="inner-orbit-cirlces"></div>
                </div>
                <!-- Circles second closest to the central point -->
                <div id="middle-orbit">
                    <div class="middle-orbit-cirlces"></div>
                </div>
                <!-- Circles furthest away to the central point -->
                <div id="outer-orbit">
                    <div class="outer-orbit-cirlces"></div>
                </div>
            </div>
            <div class="about-box">
                <h3 class="h3-hight">Misión: </h3>
                <p>Ofrecer <span class="text-active">soluciones</span> integrales en Sistemas de Cómputo con el
                    compromiso de satisfacer y cumplir con todas sus expectativas.</p>
            </div>
            <div class="about-box">
                <h3 class="h3-hight">Vision: </h3>
                <p>Ser una empresa <span class="text-active">líder</span> dentro del mercado generando una mejor y
                    mayor percepción de la Tecnología en Sistemas de Cómputo. </p>
            </div>
        </div>
    </div>
</section>